<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#d48800">
    <title>Nathan Cuvellier - Portfolio</title>

    <meta name="title" content="Portfolio - Nathan Cuvellier">
    <meta name="author" content="Nathan Cuvellier">
    <meta name="description" content="Bienvenue sur mon portfolio">
    <meta name="keywords" content="Portfolio, informatique, site web, French, PHP">

    <meta name="google-site-verification" content="I1CCeN2iN5G_v_oMh-GOFbMs2RtGApgf7_8I5c3H68k" />


    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://github.com/nathan-cuvellier/Portfolio">
    <meta property="og:title" content="Portfolio - Nathan Cuvellier">
    <meta property="og:description" content="Bienvenue sur mon portfolio">
    <meta property="og:image" content="//nathan-cuvellier.fr/img/screen_portfolio.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://github.com/nathan-cuvellier/Portfolio">
    <meta property="twitter:title" content="Portfolio - Nathan Cuvellier">
    <meta property="twitter:description" content="Bienvenue sur mon portfolio">
    <meta property="twitter:image" content="//nathan-cuvellier.fr/img/screen_portfolio.png">

    <link rel="stylesheet" href="assets/styles/portfolio.css">
    <link rel="icon" href="img/portfolio/icon.ico" />
    <link rel="preload" as="image" href="img/portfolio/mountain1.jpg" />
    <link rel="preload" as="image" href="img/portfolio/mountain2.jpg" />
    <link rel="preload" as="image" href="img/portfolio/mountain3.jpg" />
</head>

<body>
<header>
    <!-- https://unsplash.com/ -->
    <div class="bg"></div>
    <div class="content">
        <h1>Nathan Cuvellier</h1>
        <h1>Étudiant en informatique</h1>
        <h1>En vie depuis</h1>
        <h1 id="life">Chargement...</h1>
    </div>
</header>
<script src="assets/scripts/portfolio.js"></script>
</body>

</html>
